<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FADownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FADownloader.Properties.Settings>
            <setting name="formSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="tbUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="tbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="cbShowPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAllFARatings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbGeneral" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbMature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAdult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAllGalleryTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbGallery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbScraps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFavorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbJournals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterKeywords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterSubmissionTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFilterFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAllLoggingLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nudHTMLDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudDownloadDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbDownloadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="cbSubFolderByArtistName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbSubFolderBySubmissionType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="artistListJSON" serializeAs="String">
                <value />
            </setting>
            <setting name="cbLogInOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filterListJSON" serializeAs="String">
                <value />
            </setting>
            <setting name="lbFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="cbDownloadMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="potentiallyBadFile" serializeAs="String">
                <value />
            </setting>
            <setting name="nudMaxDupes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbCookieA" serializeAs="String">
                <value />
            </setting>
            <setting name="tbCookieB" serializeAs="String">
                <value />
            </setting>
        </FADownloader.Properties.Settings>
    </userSettings>
</configuration>